In [6]:
import pandas

pandas.show_versions()

INSTALLED VERSIONS
------------------
commit           : 91111fd99898d9dcaa6bf6bedb662db4108da6e6
python           : 3.10.7.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 21.6.0
Version          : Darwin Kernel Version 21.6.0: Mon Aug 22 20:20:05 PDT 2022; root:xnu-8020.140.49~2/RELEASE_ARM64_T8101
machine          : arm64
processor        : arm
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.5.1
numpy            : 1.23.5
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 63.2.0
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : None
IPython          : 8.6.0
pandas_datareader: None
bs4              : None
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : None
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

/Users/python_poseur/pandas_thoughts/venv/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [24]:
import pandas as pd
import numpy as np

f_s = pd.Series([2, np.nan], index=['a', 'b'], name='float_series')
# NaN - Not a Number Float Type
print(f'float64 Series:\n{f_s}')

i_s = pd.Series([2, None], name='integer_series', dtype='Int64')
# NA - Nullable Integer Type
print(f'int64 series:\n{i_s}')

cnt_f_s = f_s.count()
cnt_i_s = i_s.count()
print(f'{cnt_f_s} {cnt_i_s}')

float64 Series:
a    2.0
b    NaN
Name: float_series, dtype: float64
int64 series:
0       2
1    <NA>
Name: integer_series, dtype: Int64
1 1

In [35]:
# import pandas as pd
# import numpy as np

data = [2.5, 2.1, 1.9, 1.5]
s = pd.Series(data, index=['Masha', 'Arthur', 'Egor', 'Slava'], name='scores')
a = np.array(data)
# print(f'{s}\n{a}')

m_s, m_a = s.median(), np.median(a)
print(f'{s[s > m_s]}\n{a[a > m_a]}')

Masha     2.5
Arthur    2.1
Egor      1.9
Slava     1.5
Name: scores, dtype: float64
[2.5 2.1 1.9 1.5]
Masha     2.5
Arthur    2.1
Name: scores, dtype: float64
[2.5 2.1]

In [43]:
# import pandas as pd
# import numpy as np
import sys

data = ['a', 'b', 'c', 'a']
c_s = pd.Series(data, dtype='category')
s = pd.Series(data)
print(f'{c_s}\n{s}')
# nbytes return the size of the store data, while getsizeof returns the size of the entire array at creation
print(sys.getsizeof(c_s), sys.getsizeof(s))
print(c_s.nbytes, s.nbytes)

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']
0    a
1    b
2    c
3    a
dtype: object
430 376
28 32

In [8]:
# Create a series with the temperature values for the last seven days.
# Filter out the values below the mean.
import pandas as pd

# Yerevan
data = [16, 15, 15, 11, 11, 11, 12]
s = pd.Series(data, name='temperature')
print(s[s < s.mean()])

# Create a series with your favorite colors. Use a categorical type.
data = ['red', 'blue', 'green']
s = pd.Series(data, name='colors', dtype='category')
print(s, s.nbytes)

3    11
4    11
5    11
6    12
Name: temperature, dtype: int64
0      red
1     blue
2    green
Name: colors, dtype: category
Categories (3, object): ['blue', 'green', 'red'] 27

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/vehicles.csv.zip')
print(f'{df.memory_usage()}\n{df.shape}')
df.head()

Index            128
barrels08     329152
barrelsA08    329152
charge120     329152
charge240     329152
               ...
modifiedOn    329152
startStop     329152
phevCity      329152
phevHwy       329152
phevComb      329152
Length: 84, dtype: int64
(41144, 83)

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1155/43164019.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [24]:
city_mpg = df.city08
highway_mpg = df.highway08
am = (city_mpg + highway_mpg) / 2
am

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [20]:
data = ['a', 'b', 'c', 'd']
# str methods access
str_s = pd.Series(data).str
str_s.upper()

# datetime methods access
dt_s = pd.Series(pd.date_range('2022-01-01', periods=4, freq='10D')).dt
dt_s.day

0     1
1    11
2    21
3    31
dtype: int64

In [2]:
import pandas as pd

s_1 = pd.Series([1, 2, 3, 4], index=[1, 2, 2, 3], name='s_1')
s_2 = pd.Series([5, 6, 7, 8], index=[2, 2, 1, 4], name='s_2')

r_s = s_1 + s_2
r_s

1    8.0
2    7.0
2    8.0
2    8.0
2    9.0
3    NaN
4    NaN
dtype: float64

In [3]:
r_s = s_1.add(s_2, fill_value=0)
r_s

1    8.0
2    7.0
2    8.0
2    8.0
2    9.0
3    4.0
4    8.0
dtype: float64

In [10]:
import pandas as pd
import numpy as np

s = pd.Series(range(0, 10, 2), name='evens')

# Add a numeric series to itself
print(s + s)

# Add 10 to a numeric series
print(s + 10)

# Add a numeric series to itself using the .add method
print(s.add(s))

0     0
1     4
2     8
3    12
4    16
Name: evens, dtype: int64
0    10
1    12
2    14
3    16
4    18
Name: evens, dtype: int64
0     0
1     4
2     8
3    12
4    16
Name: evens, dtype: int64

In [14]:
import pandas as pd

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08
highway_mpg = df.highway08

print(city_mpg.quantile(), city_mpg.quantile(0.5), city_mpg.quantile([0.1, 0.8, 0.9]), sep='\n')
# 13 is a value below which is 10 percent of the sample

17.0
17.0
0.1    13.0
0.8    21.0
0.9    24.0
Name: city08, dtype: float64

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/1657652194.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [22]:
print(city_mpg.count())

# amount of values greater than 20 (trick)
print(city_mpg.gt(20).sum())
# sum of values greater than 20
city_mpg[city_mpg > 20].sum()

41144
10272

267580

In [24]:
import numpy as np
import pandas as pd


def cnt_of_evens(s: pd.Series) -> int:
    r = s[s % 2 == 0].count()
    return r

# 'mean' - find inside Series class
city_mpg.agg(['mean', np.var, max, cnt_of_evens])

mean               18.369045
var                62.503036
max               150.000000
cnt_of_evens    19742.000000
Name: city08, dtype: float64

In [40]:
import pandas as pd
import numpy as np

data = [1, 2, np.nan, 3, 4, np.nan, 5, np.nan]
s = pd.Series(data, name='digits')

# Find the count of non-missing values of a series
print(s.count())

# Find the number of entries of a series
print(s.size)

# Find the number of unique entries of a series
print(s.nunique())

# Find the mean value of a series
print(s.mean())

# Find the maximum value of a series
print(s.max())

# Use the .agg method to find all of the above
s.agg(['count', 'size', 'nunique', 'mean', max])

5
8
5
3.0
5.0

count      5.0
size       8.0
nunique    5.0
mean       3.0
max        5.0
Name: digits, dtype: float64

In [63]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08
highway_mpg = df.highway08

print(np.iinfo('int8'), np.iinfo('int16'), sep='\n')

# city_mpg.astype('Int8')
nb_int64, nb_int16 = city_mpg.nbytes, city_mpg.astype('Int16').nbytes
print(f'''how mush memory int64 object is taking: {nb_int64}
how mush memory int16 object is taking: {nb_int16}''')

print(f'how many times more: {nb_int64 / nb_int16}')

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

how mush memory int64 object is taking: 329152
how mush memory int16 object is taking: 123432
how many times more: 2.6666666666666665

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/2970352403.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [55]:
# Memory usage
make = df.make
nb_pd, nb_pd_py = make.nbytes, make.memory_usage(deep=True)
print(make.head(3))

print(f'How much memory the Pandas object is taking: {nb_pd}')
print(f'How much memory the Pandas + Python objects are taking: {nb_pd_py}')

0    Alfa Romeo
1       Ferrari
2         Dodge
Name: make, dtype: object
How much memory the Pandas object is taking: 329152
How much memory the Pandas + Python objects are taking: 2606395

In [64]:
# for a lot of duplicates it is much better to using categorical data type
cat_make = make.astype('category')

m_make, m_cat_make = make.memory_usage(deep=True), cat_make.memory_usage(deep=True)

print(f'memory usage without categorical type: {m_make}')
print(f'memory usage using categorical data type: {m_cat_make}')
print(f'how many times more: {m_make / m_cat_make}') #!!!

memory usage without categorical type: 2606395
memory usage using categorical data type: 95888
how many times more: 27.18165985316202

In [70]:
import pandas as pd
import numpy as np

str_s = pd.Series(list('aabbccddee'), name='chars')
num_s = pd.Series(range(10), name='digits')

# Convert a numeric column to a smaller type
# Calculate the memory savings by converting to smaller numeric types
int64_num_s, int8_num_s = num_s.memory_usage(deep=True), num_s.astype(np.int8).memory_usage(deep=True)
print(f'num_s int64: {int64_num_s}\nnum_s int8: {int8_num_s}')

# Convert a string column into a categorical type (dublicates!!!)
# Calculate the memory savings by converting to a categorical type
obj_str, cat_str_s = str_s.memory_usage(deep=True), str_s.astype('category').memory_usage(deep=True)
print(f'memory usage for str_s: {obj_str}\nmemory usage for cat_str_s: {cat_str_s}')

num_s int64: 208
num_s int8: 138
memory usage for str_s: 708
memory usage for cat_str_s: 600

In [75]:
import pandas as pd
import numpy as np
import time

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08

start = time.time()
def gt20(s):
    return s > 20

print(city_mpg.apply(gt20).head(3))
end = time.time()
print(f'execution time: {end - start}')

0    False
1    False
2     True
Name: city08, dtype: bool
execution time: 0.00356292724609375

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/933528477.py:5: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [79]:
start = time.time()
print(city_mpg.gt(20).head(3))
end = time.time()
print(f'execution time: {end - start}')

0    False
1    False
2     True
Name: city08, dtype: bool
execution time: 0.0005371570587158203

In [20]:
import pandas as pd
import time

df = pd.read_csv('./data/vehicles.csv.zip')
make = df.make

top5 = make.value_counts().index[:5]

start = time.time()
def get_5_and_other(s):
    if s in top5:
        return s
    return 'Other'

r = make.apply(get_5_and_other)
end = time.time()

print(f'result:\n{r.head(3)}\nexecution time: {(end - start)*(10**3):.3f}ms')

result:
0    Other
1    Other
2    Dodge
Name: make, dtype: object
execution time: 16.526ms

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_3125/1210504115.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [21]:
start = time.time()
r = make.where(make.isin(top5), other='Other')
end = time.time()

print(f'result:\n{r.head(3)}\nexecution time: {(end - start)*(10**3):.3f}ms')

result:
0    Other
1    Other
2    Dodge
Name: make, dtype: object
execution time: 3.822ms

In [19]:
import pandas as pd
import numpy as np
import time

df = pd.read_csv('./data/vehicles.csv.zip')
make = df.make
top5 = make.value_counts().index[:5]
top10 = make.value_counts().index[:10]

start = time.time()
r = make.where(make.isin(top5), other='Top10').where(make.isin(top10), other='Other')
end = time.time()

print(f'result\n{r.head(3)}\nexecution time: {(end - start)*(10**3):.3f}ms')

result
0    Other
1    Other
2    Dodge
Name: make, dtype: object
execution time: 2.767ms

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_3125/1675160649.py:5: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [18]:
start = time.time()
r = np.select([make.isin(top5), make.isin(top10)], [make, 'Top10'], 'Other')
end = time.time()

print(f'result:\n{r}\nexecution time: {(end - start)*(10**3):.3f}ms')
# where.where is faster

result:
['Other' 'Other' 'Dodge' ... 'Other' 'Other' 'Other']
execution time: 6.708ms

In [16]:
cyl = df.cylinders

start = time.time()
r = cyl.isna().sum()
end = time.time()

print(f'result:\n{r}\nexecution time: {(end - start)*(10**3):.3f}ms')

result:
206
execution time: 0.763ms

In [38]:
# fill NaN values
import pandas as pd
import numpy as np

data = [1, 4, 2, 3, np.nan, 7, 2, 9, np.nan]
s = pd.Series(data, name='digits')

# i_s = s.interpolate()
# print(i_s)

# ff_s, bf_s = s.ffill(), s.bfill()
# print(ff_s, bf_s, sep='\n')

fna_s = s.fillna(s.mean())
print(fna_s)

0    1.0
1    4.0
2    2.0
3    3.0
4    4.0
5    7.0
6    2.0
7    9.0
8    4.0
Name: digits, dtype: float64

In [39]:
import pandas as pd
import time


df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08[:400]

start = time.time()
s_city_mpg = city_mpg.sort_values()
r = s_city_mpg.clip(lower=s_city_mpg.quantile(0.25), upper=s_city_mpg.quantile(0.75))
end = time.time()

print(f'result:\n{r}\nexecution time: {(end - start)*(10**3):.3f}ms')

result:
47     14
1      14
99     14
101    14
80     14
       ..
2      18
171    18
163    18
167    18
335    18
Name: city08, Length: 400, dtype: int64
execution time: 1.835ms

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_3125/2811305534.py:5: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [40]:
# Dublicates
city_mpg = df.city08

start = time.time()
u_city_mpg = city_mpg.drop_duplicates(keep='last')
end = time.time()

print(f'result:\n{u_city_mpg}\nexecution time: {(end - start)*(10**3)}ms')

result:
8147     84
10329    87
12922    45
23028    59
23029    79
         ..
41138    21
41139    19
41140    20
41142    18
41143    16
Name: city08, Length: 105, dtype: int64
execution time: 1.7101764678955078ms

In [43]:
make = df.make

start = time.time()
r = make.replace(r'(Fer)ra(r.*)', value=r'\2-other-\1', regex=True)
# r = city_mpg.replace(to_replace={18: 19, 20: 21})
end = time.time()

print(f'result:\n{r}\nexecution time: {(end - start)*(10**3)}ms')

result:
0          Alfa Romeo
1        ri-other-Fer
2               Dodge
3               Dodge
4              Subaru
             ...
41139          Subaru
41140          Subaru
41141          Subaru
41142          Subaru
41143          Subaru
Name: make, Length: 41144, dtype: object
execution time: 46.861886978149414ms

In [45]:
# Partitions
import pandas as pd
import time 

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08

start = time.time()
r = pd.qcut(city_mpg, q=[0, 0.2, 0.4, 0.6, 0.8, 1])
end = time.time()

print(f'result:\n{r}\nexecution time: {(end - start)*(10**3)}ms')

result:
0         (18.0, 21.0]
1        (5.999, 14.0]
2        (21.0, 150.0]
3        (5.999, 14.0]
4         (16.0, 18.0]
             ...
41139     (18.0, 21.0]
41140     (18.0, 21.0]
41141     (16.0, 18.0]
41142     (16.0, 18.0]
41143     (14.0, 16.0]
Name: city08, Length: 41144, dtype: category
Categories (5, interval[float64, right]): [(5.999, 14.0] < (14.0, 16.0] < (16.0, 18.0] < (18.0, 21.0] < (21.0, 150.0]]
execution time: 6.477832794189453ms

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_3125/638271157.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [57]:
import pandas as pd
import numpy as np
import time

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08

# Create a series from a numeric column that has the value of 'high' if it is equal to or above
# the mean and 'low' if it is below the mean using .apply
m = city_mpg.mean()

def h_or_l(d):
    if d >= m:
        return 'high'
    return 'low'

s1 = time.time()
r1 = city_mpg.apply(h_or_l)
e1 = time.time()

print(f'result:\n{r1.head()}\nexecution time: {(e1 - s1)*(10**3):.3f}ms')

# Create a series from a numeric column that has the value of 'high' if it is equal to or above
# the mean and 'low' if it is below the mean using np.select
# !!! optimization !!!
s2 = time.time()
r2 = np.select([city_mpg >= m, city_mpg < m], ['high', 'low'])
e2 = time.time()

print(f'r2:\n{pd.Series(r2).head()}\nexecution time: {(e2 - s2)*(10**3):.3f}ms')

# Replace the missing values of a numeric series with the median value
r3 = city_mpg.fillna(value=city_mpg.median())
print(r3.head())

# Clip the values of a numeric series to between to 10th and 90th percentiles
r4 = city_mpg.clip(lower=city_mpg.quantile(0.1), upper=city_mpg.quantile(0.9))
print(r4.head())

result:
0    high
1     low
2    high
3     low
4     low
Name: city08, dtype: object
execution time: 3.406ms
r2:
0    high
1     low
2    high
3     low
4     low
dtype: object
execution time: 0.600ms
0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int64
0    19
1    13
2    23
3    13
4    17
Name: city08, dtype: int64

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_3125/3581481396.py:5: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [59]:
make = df.make.astype('category')

# Make a function that takes a categorical series and a number (n) and returns a replace series
# that replaces any value that is not in the top n most frequent values with 'Other'

s = time.time()
def rep_n(s: pd.Series, n: int) -> pd.Series:
    topn = s.value_counts().index[:n]
    temp_nparr = np.select([make.isin(topn)], [make], 'Other')
    return pd.Series(temp_nparr)
e = time.time()

print(f'result:\n{rep_n(make, 3).head()}\nexecution time: {(e - s)*(10**3)}ms')

result:
0    Other
1    Other
2    Dodge
3    Dodge
4    Other
dtype: object
execution time: 0.10180473327636719ms

In [12]:
import pandas as pd
import numpy as np
import time


df = pd.read_csv('./data/vehicles.csv', low_memory=False)
# oprimization
make = df.make.astype('category')
city_mpg = df.city08.astype(np.int8)

mi_city_mpg = city_mpg.rename(make.to_dict())
# mi_city_mpg = city_mpg.rename(make)
print(f'result:\n{mi_city_mpg.head()}')

result:
Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int8

In [16]:
mi_city_mpg.rename_axis('make').reset_index(drop=True).head()

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int8

In [20]:
print(mi_city_mpg.loc['Fisker'], mi_city_mpg.loc['Subaru'].head(), sep='\n')

print(mi_city_mpg.loc[['Fisker']])

20
Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
Name: city08, dtype: int8
Fisker    20
Name: city08, dtype: int8

In [22]:
mi_city_mpg.sort_index().loc['Ferrari':'Lamborgini']

Ferrari        10
Ferrari        13
Ferrari        13
Ferrari         9
Ferrari        10
               ..
Lamborghini    12
Lamborghini     9
Lamborghini     8
Lamborghini    13
Lamborghini     8
Name: city08, Length: 11210, dtype: int8

In [28]:
mi_city_mpg.loc[mi_city_mpg > 100].loc['Tesla']

Tesla    101
Tesla    101
Tesla    101
Tesla    102
Tesla    101
Tesla    101
Tesla    102
Tesla    102
Tesla    101
Tesla    102
Tesla    101
Tesla    120
Tesla    120
Tesla    120
Tesla    120
Tesla    102
Tesla    101
Tesla    115
Tesla    104
Name: city08, dtype: int8

In [35]:
print(mi_city_mpg.iloc[0], mi_city_mpg.iloc[0:5], sep='\n')

mask = mi_city_mpg > 100
mi_city_mpg.iloc[mask.to_numpy()].tail()

19
Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int8

Kia       127
Nissan    118
Nissan    114
Tesla     115
Tesla     104
Name: city08, dtype: int8

In [36]:
mi_city_mpg.filter(regex='(Ford)|(Subaru)')

Subaru    17
Subaru    21
Subaru    22
Ford      18
Ford      16
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 4256, dtype: int8

In [57]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/vehicles.csv', low_memory=False)
highway_mpg = df.highway08.astype(np.int8)
make = df.make.astype('category')

mi_highway_mpg = highway_mpg.rename(make)
print(mi_city_mpg.tail())

# Sort the index
mi_city_mpg.sort_index().tail()

# Set the index to monotonically increasing integers starting from 0
s2 = mi_city_mpg.rename_axis('make').reset_index(drop=True)

# Set the index to monotonically increasing integers starting from 0, then convert these to the
# string version. Save this a s2
s2 = s2.rename(lambda s: str(s))

# Using s2, pull out one hundred entries starting at index position 10
print(s2.iloc[10:110].size)

# Usings2,createaserieswithvalueswithindexentries'20','10',and'2'
s2.loc[['20', '10', '2']]

Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int8
100

20    14
10    23
2     23
Name: city08, dtype: int8