In [6]:
import pandas

pandas.show_versions()

INSTALLED VERSIONS
------------------
commit           : 91111fd99898d9dcaa6bf6bedb662db4108da6e6
python           : 3.10.7.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 21.6.0
Version          : Darwin Kernel Version 21.6.0: Mon Aug 22 20:20:05 PDT 2022; root:xnu-8020.140.49~2/RELEASE_ARM64_T8101
machine          : arm64
processor        : arm
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.5.1
numpy            : 1.23.5
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 63.2.0
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : None
IPython          : 8.6.0
pandas_datareader: None
bs4              : None
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : None
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

/Users/python_poseur/pandas_thoughts/venv/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [24]:
import pandas as pd
import numpy as np

f_s = pd.Series([2, np.nan], index=['a', 'b'], name='float_series')
# NaN - Not a Number Float Type
print(f'float64 Series:\n{f_s}')

i_s = pd.Series([2, None], name='integer_series', dtype='Int64')
# NA - Nullable Integer Type
print(f'int64 series:\n{i_s}')

cnt_f_s = f_s.count()
cnt_i_s = i_s.count()
print(f'{cnt_f_s} {cnt_i_s}')

float64 Series:
a    2.0
b    NaN
Name: float_series, dtype: float64
int64 series:
0       2
1    <NA>
Name: integer_series, dtype: Int64
1 1

In [35]:
# import pandas as pd
# import numpy as np

data = [2.5, 2.1, 1.9, 1.5]
s = pd.Series(data, index=['Masha', 'Arthur', 'Egor', 'Slava'], name='scores')
a = np.array(data)
# print(f'{s}\n{a}')

m_s, m_a = s.median(), np.median(a)
print(f'{s[s > m_s]}\n{a[a > m_a]}')

Masha     2.5
Arthur    2.1
Egor      1.9
Slava     1.5
Name: scores, dtype: float64
[2.5 2.1 1.9 1.5]
Masha     2.5
Arthur    2.1
Name: scores, dtype: float64
[2.5 2.1]

In [43]:
# import pandas as pd
# import numpy as np
import sys

data = ['a', 'b', 'c', 'a']
c_s = pd.Series(data, dtype='category')
s = pd.Series(data)
print(f'{c_s}\n{s}')
# nbytes return the size of the store data, while getsizeof returns the size of the entire array at creation
print(sys.getsizeof(c_s), sys.getsizeof(s))
print(c_s.nbytes, s.nbytes)

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']
0    a
1    b
2    c
3    a
dtype: object
430 376
28 32

In [8]:
# Create a series with the temperature values for the last seven days.
# Filter out the values below the mean.
import pandas as pd

# Yerevan
data = [16, 15, 15, 11, 11, 11, 12]
s = pd.Series(data, name='temperature')
print(s[s < s.mean()])

# Create a series with your favorite colors. Use a categorical type.
data = ['red', 'blue', 'green']
s = pd.Series(data, name='colors', dtype='category')
print(s, s.nbytes)

3    11
4    11
5    11
6    12
Name: temperature, dtype: int64
0      red
1     blue
2    green
Name: colors, dtype: category
Categories (3, object): ['blue', 'green', 'red'] 27

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/vehicles.csv.zip')
print(f'{df.memory_usage()}\n{df.shape}')
df.head()

Index            128
barrels08     329152
barrelsA08    329152
charge120     329152
charge240     329152
               ...
modifiedOn    329152
startStop     329152
phevCity      329152
phevHwy       329152
phevComb      329152
Length: 84, dtype: int64
(41144, 83)

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1155/43164019.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [24]:
city_mpg = df.city08
highway_mpg = df.highway08
am = (city_mpg + highway_mpg) / 2
am

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [20]:
data = ['a', 'b', 'c', 'd']
# str methods access
str_s = pd.Series(data).str
str_s.upper()

# datetime methods access
dt_s = pd.Series(pd.date_range('2022-01-01', periods=4, freq='10D')).dt
dt_s.day

0     1
1    11
2    21
3    31
dtype: int64

In [2]:
import pandas as pd

s_1 = pd.Series([1, 2, 3, 4], index=[1, 2, 2, 3], name='s_1')
s_2 = pd.Series([5, 6, 7, 8], index=[2, 2, 1, 4], name='s_2')

r_s = s_1 + s_2
r_s

1    8.0
2    7.0
2    8.0
2    8.0
2    9.0
3    NaN
4    NaN
dtype: float64

In [3]:
r_s = s_1.add(s_2, fill_value=0)
r_s

1    8.0
2    7.0
2    8.0
2    8.0
2    9.0
3    4.0
4    8.0
dtype: float64

In [10]:
import pandas as pd
import numpy as np

s = pd.Series(range(0, 10, 2), name='evens')

# Add a numeric series to itself
print(s + s)

# Add 10 to a numeric series
print(s + 10)

# Add a numeric series to itself using the .add method
print(s.add(s))

0     0
1     4
2     8
3    12
4    16
Name: evens, dtype: int64
0    10
1    12
2    14
3    16
4    18
Name: evens, dtype: int64
0     0
1     4
2     8
3    12
4    16
Name: evens, dtype: int64

In [14]:
import pandas as pd

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08
highway_mpg = df.highway08

print(city_mpg.quantile(), city_mpg.quantile(0.5), city_mpg.quantile([0.1, 0.8, 0.9]), sep='\n')
# 13 is a value below which is 10 percent of the sample

17.0
17.0
0.1    13.0
0.8    21.0
0.9    24.0
Name: city08, dtype: float64

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/1657652194.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [22]:
print(city_mpg.count())

# amount of values greater than 20 (trick)
print(city_mpg.gt(20).sum())
# sum of values greater than 20
city_mpg[city_mpg > 20].sum()

41144
10272

267580

In [24]:
import numpy as np
import pandas as pd


def cnt_of_evens(s: pd.Series) -> int:
    r = s[s % 2 == 0].count()
    return r

# 'mean' - find inside Series class
city_mpg.agg(['mean', np.var, max, cnt_of_evens])

mean               18.369045
var                62.503036
max               150.000000
cnt_of_evens    19742.000000
Name: city08, dtype: float64

In [40]:
import pandas as pd
import numpy as np

data = [1, 2, np.nan, 3, 4, np.nan, 5, np.nan]
s = pd.Series(data, name='digits')

# Find the count of non-missing values of a series
print(s.count())

# Find the number of entries of a series
print(s.size)

# Find the number of unique entries of a series
print(s.nunique())

# Find the mean value of a series
print(s.mean())

# Find the maximum value of a series
print(s.max())

# Use the .agg method to find all of the above
s.agg(['count', 'size', 'nunique', 'mean', max])

5
8
5
3.0
5.0

count      5.0
size       8.0
nunique    5.0
mean       3.0
max        5.0
Name: digits, dtype: float64

In [63]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08
highway_mpg = df.highway08

print(np.iinfo('int8'), np.iinfo('int16'), sep='\n')

# city_mpg.astype('Int8')
nb_int64, nb_int16 = city_mpg.nbytes, city_mpg.astype('Int16').nbytes
print(f'''how mush memory int64 object is taking: {nb_int64}
how mush memory int16 object is taking: {nb_int16}''')

print(f'how many times more: {nb_int64 / nb_int16}')

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

how mush memory int64 object is taking: 329152
how mush memory int16 object is taking: 123432
how many times more: 2.6666666666666665

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/2970352403.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [55]:
# Memory usage
make = df.make
nb_pd, nb_pd_py = make.nbytes, make.memory_usage(deep=True)
print(make.head(3))

print(f'How much memory the Pandas object is taking: {nb_pd}')
print(f'How much memory the Pandas + Python objects are taking: {nb_pd_py}')

0    Alfa Romeo
1       Ferrari
2         Dodge
Name: make, dtype: object
How much memory the Pandas object is taking: 329152
How much memory the Pandas + Python objects are taking: 2606395

In [64]:
# for a lot of duplicates it is much better to using categorical data type
cat_make = make.astype('category')

m_make, m_cat_make = make.memory_usage(deep=True), cat_make.memory_usage(deep=True)

print(f'memory usage without categorical type: {m_make}')
print(f'memory usage using categorical data type: {m_cat_make}')
print(f'how many times more: {m_make / m_cat_make}') #!!!

memory usage without categorical type: 2606395
memory usage using categorical data type: 95888
how many times more: 27.18165985316202

In [70]:
import pandas as pd
import numpy as np

str_s = pd.Series(list('aabbccddee'), name='chars')
num_s = pd.Series(range(10), name='digits')

# Convert a numeric column to a smaller type
# Calculate the memory savings by converting to smaller numeric types
int64_num_s, int8_num_s = num_s.memory_usage(deep=True), num_s.astype(np.int8).memory_usage(deep=True)
print(f'num_s int64: {int64_num_s}\nnum_s int8: {int8_num_s}')

# Convert a string column into a categorical type (dublicates!!!)
# Calculate the memory savings by converting to a categorical type
obj_str, cat_str_s = str_s.memory_usage(deep=True), str_s.astype('category').memory_usage(deep=True)
print(f'memory usage for str_s: {obj_str}\nmemory usage for cat_str_s: {cat_str_s}')

num_s int64: 208
num_s int8: 138
memory usage for str_s: 708
memory usage for cat_str_s: 600

In [75]:
import pandas as pd
import numpy as np
import time

df = pd.read_csv('./data/vehicles.csv.zip')
city_mpg = df.city08

start = time.time()
def gt20(s):
    return s > 20

print(city_mpg.apply(gt20).head(3))
end = time.time()
print(f'execution time: {end - start}')

0    False
1    False
2     True
Name: city08, dtype: bool
execution time: 0.00356292724609375

/var/folders/dy/98lp64856sn6kt9gr7cdbq1h0000gn/T/ipykernel_1399/933528477.py:5: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/vehicles.csv.zip')

In [78]:
start = time.time()
print(city_mpg.gt(20).head(3))
end = time.time()
print(f'execution time: {end - start}')

0    False
1    False
2     True
Name: city08, dtype: bool
execution time: 0.0009326934814453125